@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }

  .inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

/* shared styles */
.text-light{
    color: #fff;
}
.text-danger{
    color: rgb(255, 0, 0);
}
.text-dark{
    color: #000;
}

/* header related styles */
.banner-container{
    max-width: 1320px;
    min-height: 600px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 16px;
    background-image: url("../images/Banner-Image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay; */
}

.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 600px;
    background: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%);
}

.banner-subtitle{
    font-size: 2rem;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0%;
}

.banner-title{
    font-size: 4.5rem;
    font-weight: 900;
    line-height: 90px;
    letter-spacing: 0%;
}

/* main related styles */
.new-year-discount{
    margin: 0 auto;
    max-width: 800px;
    max-height: 800px;
    margin-top: 100px;
    text-align: center;

}
.discount-title{
    font-size: 5.25rem;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: 0%;
    margin-bottom: 48px;
}
.subtitle{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
    padding: 16px 7px;
}

.discount-subtitle{
    font-size: 3rem;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
}

.discount-image{
    margin-top: 48px;
    max-height: 500px;
}
